/*
 * Header
 */
.header {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--graydisabled-50);
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-home {
    color: var(--main);
    font-family: "Pretendard-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    margin-left: 30px;
}

.header .header-frame {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 40px;
    padding: 0px 30px;
}

.header .header-search {
    align-items: center;
    border: 2px solid;
    border-color: var(--brown-30);
    border-radius: 40px;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 0px 20px;
    width: 200px;
    overflow: hidden;
}

.header .search-svg {
    height: 28px;
    position: relative;
    width: 28px;
}

.header .label {
    color: var(--brown-30);
    font-family: var(--body-sm-regular-font-family);
    font-size: var(--body-sm-regular-font-size);
    font-weight: var(--body-sm-regular-font-weight);
    height: 24px;
    padding: 0px 10px;
    border-width: 0;
}

.header .header-notification {
    border: 2px solid;
    border-color: var(--brown-30);
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.header .notification-svg {
    height: 24px;
    position: relative;
    width: 24px;
}

.header .header-profile {
    height: 40px;
    position: relative;
    width: 40px;
    border: 2px solid;
    border-color: var(--brown-30);
    border-radius: 50%;
    object-fit: cover;
}

.header .logout-button {
    background-color: white;
    border: 2px solid;
    border-color: var(--brown-30);
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}