.album {
    border: 1px solid;
    border-color: var(--main);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 95%;
    height: 35%;
}

.album .title {
    background-color: var(--sub-60);
    border-radius: 8px 8px 0px 0px;
    height: 35px;
    overflow: hidden;
    position: relative;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.album .title-text {
    color: var(--brown);
    font-family: var(--body-md-semibold-font-family);
    font-size: var(--body-md-semibold-font-size);
    font-weight: var(--body-md-semibold-font-weight);
    left: 30px;
    letter-spacing: -0.54px;
    line-height: 27px;
    position: absolute;
    white-space: nowrap;
}

.album .upload-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.album .svg {
    width: 30x;
    height: 30px;
    padding: 0px 20px;
}

.album .content {
    background-color: var(--third-40);
    border-radius: 0px 0px 8px 8px;
    height: 160px;
    position: relative;
    width: 550px;
    overflow: auto;
}

.album .frame {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    padding: 10px 30px;
    overflow: auto;
}

.album .img-wrapper {
    height: 100px;
    width: 100px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.album .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}