.album {
    align-items: flex-start;
    border: 1px solid;
    border-color: var(--main);
    border-radius: 8px;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    margin-bottom: -1px;
    margin-left: -1px;
    margin-right: -1px;
    overflow: hidden;
    position: relative;
    width: 1290px;
}

.album .title {
    background-color: var(--sub-60);
    border-radius: 8px 8px 0px 0px;
    height: 44px;
    overflow: hidden;
    position: relative;
    width: 1288px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.album .title-text {
    color: var(--brown);
    font-family: "Pretendard-SemiBold", Helvetica;
    font-size: 18px;
    font-weight: 600;
    left: 30px;
    letter-spacing: -0.54px;
    line-height: 27px;
    position: absolute;
    top: 8px;
    white-space: nowrap;
}

.album .upload-button {

    background-color: transparent;
    /* 버튼 배경색 투명하게 설정 */
    border: none;
    /* 버튼 테두리 없음 */
    cursor: pointer;
    /* 마우스 포인터 커서 변경 */
}

.album .svg {
    width: 30x;
    height: 30px;
}

.album .content {
    background-color: var(--third-40);
    border-radius: 0px 0px 8px 8px;
    height: 311px;
    position: relative;
    width: 1288px;
    overflow: auto;
}

.album .frame-10 {
    display: flex;
    flex-wrap: wrap;
    /* 추가됨 */
    gap: 10px;
    padding: 30px 31px;
    /* 여백을 padding으로 변경 */
    overflow: auto;
    /* 추가됨 */
}

.album .unsplash-wrapper {
    border-radius: 2px;
    height: 402px;
    overflow: hidden;
    position: relative;
    width: calc(33.33% - 20px);
    /* 3개의 열로 나누기 위한 계산 */
    box-sizing: border-box;
    /* 패딩과 보더를 포함하여 박스 크기 계산 */
}

.album .unsplash {
    height: 281px;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 402px;
}