.album {
    border: 1px solid;
    border-color: var(--main);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 95%;
    height: 35%;
}

.album .title {
    background-color: var(--sub-60);
    border-radius: 8px 8px 0px 0px;
    height: 35px;
    overflow: hidden;
    position: relative;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.album .title-text {
    color: var(--brown);
    font-family: var(--body-md-semibold-font-family);
    font-size: var(--body-md-semibold-font-size);
    font-weight: var(--body-md-semibold-font-weight);
    left: 30px;
    letter-spacing: -0.54px;
    line-height: 27px;
    position: absolute;
    white-space: nowrap;
}

.album .upload-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.album .svg {
    width: 30x;
    height: 30px;
    padding: 0px 20px;
}

.album .content {
    background-color: var(--third-40);
    border-radius: 0px 0px 8px 8px;
    flex-grow: 1;
    position: relative;
    width: 100%;
    overflow: auto;
}

.album .frame {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 20px;
    padding: 10px 30px;
    overflow: auto;
}

.album .img-wrapper {
    height: 100px;
    width: 100px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.album .img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-upload {
    background: white;
    padding: 20px;
    border-radius: 8px;
    height: 300px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.modal-upload h3 {
    margin-bottom: 15px;
}

.file-input {
    margin: 10px 0;
}

.preview {
    margin: 10px 0;
}

.preview-img {
    max-width: 100%;
    max-height: 150px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pink-button,
.white-button {
    margin: 5px;
    padding: 8px 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.pink-button {
    background-color: var(--main);
    color: white;
}

.white-button {
    border: 1px solid;
    border-color: var(--main);
    border-radius: 8px;
    background-color: white;
    color: black;
}



.modal-image {
    background: white;
    padding: 20px;
    border-radius: 8px;
    height: 400px;
    width: 400px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-img {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.modal-image .button-frame {
    display: flex;
    justify-content: center;
}